@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url('../font/Gotham-Black.woff2') format('woff2'),
    url('../font/Gotham-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url('../font/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url('../font/Gotham-Bold.woff2') format('woff2'),
    url('../fonts/Gotham-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url('../font/Gotham-BoldItalic.woff2') format('woff2'),
    url('../fonts/Gotham-BoldItalic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url('../font/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}